
<page backtop="14mm" backbottom="14mm" backleft="10mm" backright="10mm" style="font-size: 12pt">
    <page_header >
        <div id="entete" style="width: 250px ;text-align: center">
            <small>
                UNIVERSITE CHEIKH ANTA DIOP DE DAKAR<br><br>
                <img src="{{asset('assets/images/logo.png')}}" style="width: 80px"/><br><br>
                École Supérieure Polytechnique<br>
                SERVICE DE LA SCOLARITE<br>
                B.P. 5085 – DAKAR-FANN<br>
                Tel (221) 33 864 51 96 - Fax (221) 33 825 55 94<br>
                E-mail : <strong style="color: blue"> scolarite.esp@ucad.edu.sn</strong><br></small>
        </div>

    </page_header>
    <page_footer>
        <p>
            <strong>N.B : </strong><i>Il n’est pas délivré de duplicata de cette attestation. <br>Il appartient au titulaire d’établir lui-même et de faire
                certifier <br>conformes par les services compétents,<br>les copies qui peuvent lui être nécessaires.</i>
        </p>
    </page_footer>
    <div class="container">
        <div class="jumbotron" style="font-size: 20px">

            <br><br><br><br><br><br><br><br>

            <h1 style="background-color: #bfbfbf"> ATTESTATION DE PASSAGE </h1>
            <p>
                Après délibération du Jury en date<br><br>
                du <strong> ........ </strong><br><br>
                {{ "civilite" }} <strong>{{etudiant.prenom}}{{ " " }}{{etudiant.nom}}</strong><br><br>
                Née le {{ etudiant.dateNaiss|date("d/m/Y") }} à {{etudiant.paysNaiss}}<br><br>
                Etudiante en {{ etudiant.nomFormation }}<br><br>
                Spécialité : <strong>{{etudiant.nomOption}}</strong><br><br>
                <strong>est admis(e) en classe supérieure</strong><br><br>
                La présente attestation est délivrée pour servir et valoir ce que de droit.<br><br><br><br><br><br><br>


                Fait à Dakar, le <strong> ........ </strong>

            <div style="padding-left: 130px">
                <strong>
                    Le Chef des Services Administratifs<br>
                </strong>
            </div>

            </p>
        </div>
    </div>
</page>
